<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.mule.tooling.runtime.muleServerLaunchType">
    <stringAttribute key="launch_mule_server_version" value="org.mule.tooling.server.4.9.ee"/>
    <stringAttribute key="mule-agent-port" value="57573"/>
    <stringAttribute key="mule-agent-token-auth" value="23411ef9-c7d6-4519-9325-257678ca01c4"/>
    <listAttribute key="mule-project-names">
        <listEntry value="rtnrtnnrhrrhthrhhhhhh"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="rtnrtnnrhrrhthrhhhhhh"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-M-XX:-UseBiasedLocking -M-Dfile.encoding=UTF-8 -M-XX:+UseG1GC -M-XX:+UseStringDeduplication -M-Dmule.deployment.forceParseConfigXmls=true"/>
</launchConfiguration>
